{
  "env": {
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "ANTHROPIC_BASE_URL": "https://api.anthropic.com",
    "ANTHROPIC_AUTH_TOKEN": "sk-ant-your-token-here",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "claude-haiku-4-5",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "claude-opus-4-6",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "claude-sonnet-4-6",
    "OPENAI_BASE_URL": "https://api.openai.com/v1",
    "OPENAI_API_KEY": "sk-your-openai-key-here",
    "OPENAI_TRANSCRIBE_MODEL": "gpt-4o-audio-preview",
    "GEMINI_BASE_URL": "https://generativelanguage.googleapis.com/v1beta",
    "GEMINI_API_KEY": "AIzaSy-your-gemini-key-here",
    "GEMINI_TRANSCRIBE_MODEL": "gemini-2.5-flash",
    "COWORK_MARKET_BASE_URL": "https://gitee.com/guanzhengbing/plugins-skills/raw/main",
    "CLAUDE_CODE_AUTO_COMPACT_WINDOW": "1000000"
  }
}